window {
    background-color: #222436;
}

* {
    outline: none;
    /* transition: 200ms all; */
}

button {
    font-weight: bold;
    color: #C8D3F5;
    background-image: none;
    background-color: #1E2030;
    border: 4px solid transparent;
}

button:hover {
    background-color: #2B2E42;
}

button:hover>image {
    -gtk-icon-shadow: none;
    -gtk-icon-effect: none;
}

.highlighted-button {
    background-image: none;
    box-shadow: none;
    background-color: #2B2E42;
    border: 4px solid #7cafff;
}

/* .highlighted-button>image, .highlighted-button:hover>image {
    background-color: #2B2E42;
} */