/* * {
    border: none;
    border-radius: 10px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;

    min-height: 30px;
    margin: 0;
    padding: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: white;
    transition-property: background-color;
    transition-duration: .5s;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces {
    margin: 2px 1px 3px 1px;
    padding: 0px 1px;
    border-radius: 15px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    opacity: 0.8;
    font-size: 16px;
}

#workspaces button {
    transition: all 250ms ease-in-out;
    background: #121212;
    color: white;
    border-bottom: 3px solid transparent;
    padding: 0px 5px;
    margin: 2px 1px;
    border-radius: 10px;
    border: 0px;
}

#workspaces button.active {
    transition: all 250ms ease-in-out;
    min-width: 50px;
    background: #64727D;
    border-bottom: 3px solid white;
}

#mode, #clock, #battery {
    padding: 0 10px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock {
    background-color: #64727D;
}

#battery {
    background-color: #ffffff;
    color: black;
    border-radius: 15px;
    padding: 2px 15px 0px 10px;
    margin: 5px 15px 5px 0px;
    opacity:0.8;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
} */

/* * {
    font-size:15px;
    font-family: "CodeNewRoman Nerd Font Propo";
}
window#waybar{
    all:unset;
}
.modules-left {
    padding:7px;
    margin:10 0 5 10;
    border-radius:10px;
    background: alpha(#121212,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
.modules-center {
    padding:7px;
    margin:10 0 5 0;
    border-radius:10px;
    background: alpha(#121212,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
.modules-right {
    padding:7px;
    margin: 10 10 5 0;
    border-radius:10px;
    background: alpha(#121212,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
tooltip {
    background:#121212;
    color: rgba(0, 166, 244, 1.0);
}
#clock:hover, #custom-pacman:hover, #custom-notification:hover,#bluetooth:hover,#network:hover,#battery:hover, #cpu:hover,#memory:hover,#temperature:hover{
    transition: all .3s ease;
    color:rgba(0, 219, 205, 1.0);
}
#custom-notification {
    padding: 0px 5px;
    transition: all .3s ease;
    color:rgba(0, 166, 244, 1.0);
}
#clock{
    padding: 0px 5px;
    color:rgba(0, 166, 244, 1.0);
    transition: all .3s ease;
}
#custom-pacman{
    padding: 0px 5px;
    transition: all .3s ease;
    color:rgba(0, 166, 244, 1.0);

}
#workspaces {
    padding: 0px 5px;
}
#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: alpha(rgba(0, 219, 205, 1.0),.4);
    transition: all .2s ease;
}
#workspaces button:hover {
    color:rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.active {
    color: rgba(0, 219, 205, 1.0);
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#workspaces button.empty {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.empty.active {
    color: rgba(0, 219, 205, 1.0);
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#bluetooth{
    padding: 0px 5px;
    transition: all .3s ease;
    color:rgba(0, 166, 244, 1.0);

}
#network{
    padding: 0px 5px;
    transition: all .3s ease;
    color:rgba(0, 166, 244, 1.0);

}
#battery{
    padding: 0px 5px;
    transition: all .3s ease;
    color:rgba(0, 166, 244, 1.0);


}
#battery.charging {
    color: #26A65B;
}

#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#group-expand{
    padding: 0px 5px;
    transition: all .3s ease;
}
#custom-expand{
    padding: 0px 5px;
    color:alpha(rgba(255, 255, 255, 1.0),.2);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .3s ease;
}
#custom-expand:hover{
    color:rgba(255,255,255,.2);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}
#custom-colorpicker{
    padding: 0px 5px;
}
#cpu,#memory,#temperature{
    padding: 0px 5px;
    transition: all .3s ease;
    color:rgba(0, 166, 244, 1.0);

}
#custom-endpoint{
    color:transparent;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);

}
#tray{
    padding: 0px 5px;
    transition: all .3s ease;

}
#tray menu * {
    padding: 0px 5px;
    transition: all .3s ease;
}

#tray menu separator {
    padding: 0px 5px;
    transition: all .3s ease;
} */

@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #6994D8; /*#89b4fa;*/
@define-color lavender #b4befe;

@define-color base alpha(#000000, 0.1);
/* @define-color surface alpha(@lavender, 0.15); */
@define-color surface alpha(#1E2030, 1.0);
@define-color text #cdd6f4;
@define-color hoverBg alpha(@blue, 1);
@define-color hoverFg #000000;
@define-color activeBg alpha(@blue, 1);
@define-color activeFg #000000;
@define-color shadow alpha(@blue, 0.25);

* {
    all: unset;
    font-size: 1rem;
    font-weight: 900;
    font-family: "Hack Nerd Font";
    /*Font Awesome,
        Roboto,
        JetBrainsMonoNerdFont
        Helvetica,
        Arial,
        sans-serif;*/
    background-clip: border-box;
}

button {
    min-width: 32px;
    min-height: 32px;
    border-radius: 14px;
    color: #7cafff;
    /*box-shadow: 0px 0px 8px 4px @shadow inset;*/
    transition:
        all 50ms cubic-bezier(0.55, 0, 0.28, 1.682),
        box-shadow 50ms ease-in-out,
        background-color 200ms ease-in-out;
}

button:hover {
    color: @hoverFg;
    background: #7cafff;
}

button.active {
    color: @activeFg;
    background: @activeBg;
}

tooltip {
    opacity: 1;
    background: @hoverBg;
}

#window {
    margin-right: 8px;
}

#workspaces,
#custom-appmenu,
#quicklinks,
#media,
#hardware,
#clock,
#custom-cava,
#network,
#custom-icon,
#custom-notification,
#tray,
#custom-exit {
    /* border: #7cafff;
    background-color: @surface;
    border: 2px solid #7cafff;
    border-radius: 20px;
     */
    border: 2px solid transparent;
    border-radius: 16px;
    color: #7cafff;
    /* 2. Layer 1: Inner background color (first gradient)
       Layer 2: The border gradient (second gradient) */
    background-image: linear-gradient(#11111b, #11111b), 
                      linear-gradient(45deg, #7cafff, #3B63CF);

    /* 3. Clip the first gradient to the content and the second to the border */
    background-origin: border-box;
    background-clip: padding-box, border-box;
    /*box-shadow: 0px 0px 8px 4px @shadow inset*/
}

#media,
#hardware,
#network,
#clock {
    padding: 0 8px;
}

/* #network {
    padding: 0 32px;
    min-width: 192px;
    padding-right: 12px;
} */

#custom-cava {
    padding: 0 5px;
    font-family: "Noto Sans Mono", "monospace";
}

tray {
    padding: 24px;
    min-width: 42px;
}

#custom-exit {
    font-size: 18px;
    padding: 0 12px;
    padding-left: 8px;
}

#custom-icon {
    font-size: 26px;
    padding: 0 17px;
    padding-left: 9px;
}

#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10 {
    font-size: 1.5rem;
    margin: 0 0.5rem;
}
#custom-quicklink1 {
    /* margin-left: 0; */
}

#cpu,
#memory,
#disk {
    padding-right: 0.5rem;
}

#custom-appmenu,
#custom-notification {
    font-size: 24px;
    min-width: 32px;
    min-height: 32px;
    padding-right: 4px;
}

#workspaces button {
    margin-right: 2px;
}
#workspaces button:last-child {
    margin-right: 0;
}

#workspaces button.active {
    transition: all 250ms ease-in-out;
    min-width: 50px;
    background: #7cafff;
}

#taskbar {
    font-weight: normal;
    font-style: normal;
}

@keyframes blink {
    to {
        background-color: @activeBg;
    }
}

#battery.critical:not(.charging) {
    background-color: @activeBg;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @activeBg;
}

label:focus {
    background-color: @activeBg;
}

#backlight {
    background-color: @activeBg;
}

#quicklinks {
}

#temperature.critical {
    color: red;
}
