* {
    font-family: "Hack Nerd Font"; 
    outline: none;
}

window {
    border: 25px solid transparent;
    border-radius: 25px;
    color: #7cafff;
    background: transparent;
    background-image:
        linear-gradient(#11111b, #11111b),
        linear-gradient(90deg, #7cafff, #3b63cf);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

#input {
    background-color: #191a2a;
    color: #c8d3f5;
    border: 2px solid #191a2a;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;

}

#input:focus {
    border: 2px solid #7cafff; 
}

#inner-box {
    background-color: #222436;
    margin: 10px;
}

#outer-box {
    margin: 5px;
    background-color: #222436;
    border-radius: 20px;
}

#scroll {
    margin: 5px;
    background-color: #222436;
    border-radius: 25px;
}

#text {
    color: #c8d3f5;
    margin: 5px;
}

#entry:selected {
    background-color: #7cafff; 
    border-radius: 5px;
}

#entry:hover {
    background-color: #2F334D; 
    border-radius: 5px;
}

#text:selected {
    color: #191a2a; 
}

#expander {
    display: none;
    margin-right: 5px;
    width: 20px;
}
