* {
	background-image: none;
	box-shadow: none;
	font-family: "Hack Nerd Font";
	transition: 200ms;
}

window {
	background-color: rgba(12, 12, 12, 0.0);
}

button {
	color: #7cafff;
	font-size: 20px;
	font-weight: bold;
    background-color: #11111B;
    border-style: solid;
    border-width: 5px;
	border-radius: 25px;
	border-color: #7cafff;
	padding: 5px;
	/* padding-bottom: 50px;
	padding-top: 50px;
	border: 5px solid transparent;
    border-radius: 20px;
    background-image:
        linear-gradient(#11111b, #11111b),
        linear-gradient(90deg, #7cafff, #3b63cf);
    background-origin: border-box;
    background-clip: padding-box, border-box; */

    /* border-image-source: linear-gradient(270deg, #3B63CF, #7cafff);
    border-image-slice: 1; */
	
	/* 
	border-radius: 16px;
    background-color: #11111b;  
	border-width: 5px;
	border-style: solid;
	border-image: linear-gradient(45deg, #7cafff, #3b63cf) 1; */

    margin: 25px;
	background-repeat: no-repeat;
	background-position: center;
	background-size:35%;
}



button:focus {
	background-color: #222436;
}

button:hover {
	background-color: #2F334D;
}

#lock {
    background-image: image(url("/home/austin/.config/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/home/austin/.config/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/home/austin/.config/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/home/austin/.config/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/home/austin/.config/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/home/austin/.config/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
